.project {
	margin: 0rem 0rem !important;
  background-position: center;
  background-size: cover;
	height: 20rem;
	font-weight: 500;
	font-size: 0.125rem;
	opacity: 0.6;
}

.coloroverlay {
	padding: 5rem 3rem;
	opacity: 1;
}

.projectbg {
	
}

.projectbg:hover > div {
  opacity: 0.8;
}

.projectbg:hover > div:hover {
  opacity: 1;
}

.textlayer {
	color:white;
	font-size: 1.125rem;
	opacity: 1;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.normagin {
	margin: 0rem 0rem!important;
}

hr {
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid #ccc;
	margin: 1em 0;
	padding: 0;
	width: 50%;
}

.btn-orange {
	background-color: orangered;
	color: white;
}
.btn-green {
	background-color: forestgreen;
	color: white;
}

/* SCIENCE */
#science {
	background-image: url(../img/science.jpg);
	height: 22rem;
}

#bgsc {
	background-color:darkgreen;
}

/* MAPS */
#maps {
	background-image: url(../img/vart.png);
	height: 22rem;
}

#bgsp {
	background-color:blue;
}

/* DEEPLEARNING */
#deep {
	background-image: url(../img/dl.jpg);
	height: 22rem;
}

#bgrd {
	background-color:indigo;
}

/* MOVIES */
#movies {
	background-image: url(../img/lhit.jpg);
	height: 22rem;
}

#bgmv {
	background-color:indigo;
}

/* WANDELWURFEL */
#wwl {
	background-image: url(../img/cover.jpg);
	height: 22rem;
}

#bgdl {
	background-color:indigo;
}

