.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.img_v {
	position: absolute;
	left: calc((100% - 320px) / 2);
	top: calc((100% - 457px) / 2);
	display: none;
}
.img_h {
	position: absolute;
	left: calc((100% - 457px) / 2);
	top: calc((100% - 320px) / 2);
	display: none;
}
.btnstart {
	position: absolute;
	left: calc((100% - 720px) / 2);
	top: calc((100% - 480px) / 2);
	width: 720px;
	height: 480px;
}
.img-container .location {
	position: absolute;

}

/* IMG 1 */
.img-container .location#ei1 {
	top: 236px;
	left: 129px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
}

/* IMG 2 */
.img-container .location#ei2 {
	top: 70px;
	left: 130px;
	width: 24px;
	height: 7px;
	border-radius: 8px;
}
.img-container .location#ei3 {
	top: 175px;
	left: 208px;
	width: 8px;
	height: 8px;
	border-radius: 45px;
}

/* IMG 3 */
.img-container .location#ei4 {
	top: 369px;
	left: 134px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}

/* IMG 4 */
.img-container .location#ei5 {
	top: 144px;
	left: 64px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}
.img-container .location#ei6 {
	top: 169px;
	left: 274px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}

/* IMG 5 */
.img-container .location#ei7 {
	top: 354px;
	left: 136px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}
.img-container .location#ei8 {
	top: 399px;
	left: 136px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}

/* IMG 6 */
.img-container .location#ei9 {
	top: 162px;
	left: 16px;
	width: 38px;
	height: 4px;
	border-radius: 12px;
}
.img-container .location#ei10 {
	top: 173px;
	left: 270px;
	width: 8px;
	height: 12px;
	border-radius: 12px;
}
.img-container .location#ei11 {
	top: 183px;
	left: 426px;
	width: 8px;
	height: 7px;
	border-radius: 12px;
}

/* IMG 7 */
.img-container .location#ei12 {
	top: 235px;
	left: 108px;
	width: 5px;
	height: 12px;
	border-radius: 12px;
}
.img-container .location#ei13 {
	top: 186px;
	left: 310px;
	width: 7px;
	height: 12px;
	border-radius: 12px;
}
.img-container .location#ei14 {
	top: 117px;
	left: 322px;
	width: 8px;
	height: 6px;
	border-radius: 12px;
}
.img-container .location#ei15 {
	top: 258px;
	left: 176px;
	width: 6px;
	height: 10px;
	border-radius: 12px;
}


/* IMG 8 */
.img-container .location#ei16 {
	top: 112px;
	left: 46px;
	width: 12px;
	height: 4px;
	border-radius: 12px;
}
.img-container .location#ei17 {
	top: 194px;
	left: 66px;
	width: 10px;
	height: 5px;
	border-radius: 12px;
}
.img-container .location#ei18 {
	top: 113px;
	left: 271px;
	width: 5px;
	height: 10px;
	border-radius: 12px;
}
.img-container .location#ei19 {
	top: 160px;
	left: 441px;
	width: 7px;
	height: 11px;
	border-radius: 12px;
}

/* IMG 9 */
.img-container .location#ei20 {
	top: 55px;
	left: 296px;
	width: 4px;
	height: 25px;
	border-radius: 12px;
}
.img-container .location#ei21 {
	top: 160px;
	left: 316px;
	width: 25px;
	height: 16px;
	border-radius: 12px;
}

.lvls {
	border-radius: 20px;
	border: 1px solid;
	font-weight: 500;
	background-color: darkkhaki;
}
.lvldesc {
	color: red;
	font-weight: 500;
}
