body,h1 {font-family: "Open Sans", sans-serif}
body, html {height: 100%}

	.bgimg {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

.bgimg:after {
	content : "";
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(venice-2451047_1920.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity : 0.2;
	z-index: -1;
}

#mapid {
	height: 100%;
	width: 100%;
	z-index: 0;
	margin: 0px;
	padding: 0px;
	border: 1px solid;
}
.map {
	z-index: 1;
	opacity: 1;
}
.full_page {
	opacity: 1!important;
}
.searchbar {
	border: 5px solid blue;
	border-radius: 50px;
	height: 70vh;
	padding: 20px;
}
.mappa {
	padding: 10px;
	height: 70vh;
}
.footer {
	border: 10px inset aqua;
	height: 16.3vh;
	border-radius: 10px;
}
.bueae {
	border: 5px outset green;
	height: 70vh;
	border-radius: 20px;
	padding: 20px;
}
.searchfield {
	z-index: 1;
	margin: 1%;
	padding: 1%;
	border-radius: 20px;
	width: 150%;
}
.cercabtn {
	padding: 3% 5%;
	z-index: 1;
	background-color: #FFF;
	border-radius: 15%;
}
.helpbtn {
	position: absolute;
	right: 5%;
	top: 5%;
	z-index: 1;
	margin: 1%;
	background-color: #FFF;
	border-radius: 15%;
}
.helpwindowpopup {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EEE;
	text-align: center;
	padding: 10%;
}
.closebutton {
	border: 1px solid black;
	background-color: #999;
}

