.container {
	margin-top: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;
	font-family: "Open Sans";
}

.material {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.titletext {
	font-size: 1.5rem;
	
}
.expltext {
	font-size: 0.9rem;
}
.list {
	padding-top: 0.3rem;
}

.week {
	font-weight: 900;
	font-size: 1.3rem;
	padding-bottom: 0.3rem;
	padding-top: 0.3rem;
}
.rotated {
	float:left;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	transition: .5 ease;
}

/* SLIDES CSS */
.slidetitle {
	font-size: 2.5rem;
	font-weight: 700;
	color:bisque;
}

.slidewithalotoftext {
	font-size: 2.0rem;
}

