.container {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;
	font-family: "Open Sans";
}
.titletext {
	font-size: 1.5rem;
}
.material {
	padding-top: 3.5rem;
}
.expltext {
	font-size: 0.9rem;
}
.list {
	padding-top: 0.3rem;
}
.projects {
	padding-top: 1rem;
}
.week {
	font-weight: 900;
	font-size: 1.3rem;
	padding-bottom: 0.3rem;
	padding-top: 0.3rem;
	color:#0989ff;
}
.rotated {
	float:left;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	transition: .5 ease;
}
.faqquest {
	font-weight: 800;
	font-size: 1.2rem;
}
.subtitletext {
	font-weight: 700;
	font-size: 1.15rem;
}
/* SLIDES CSS */
.slidetitle {
	font-size: 2.5rem;
	font-weight: 700;
	color:bisque;
}

.slidewithalotoftext {
	font-size: 2.0rem;
}

